{% extends "FOSUserBundle::layout.html.twig" %}
{% block content %}

        <div class="category">
            <img src="{{ asset('bundles/admin/images/moins26.png') }}" alt="categorie moins de 26 ans"/>
            <p>Gérer la catégorie moins de 26 ans</p>
        </div>
        <div class="category">
            <img src="{{ asset('bundles/admin/images/employeur.png') }}" alt="categorie employeur"/>
            <p>Gérer la catégorie employeur</p>
        </div>
        <div class="category">
            <img src="{{ asset('bundles/admin/images/plus26.png') }}" alt="categorie plus de 26 ans"/>
            <p>Gérer la catégorie plus de 26 ans</p>
        </div>
        <div class="category">
            <img src="{{ asset('bundles/admin/images/actu.png') }}" alt="gérer l'actualité"/>
            <p>Gérer l'actualité</p>
        </div>
        <div class="category">
            <img src="{{ asset('bundles/admin/images/appel.png') }}" alt="Gérer les appels"/>
            <p>Gérer les appels</p>
        </div>
        <div class="category">
            <img src="{{ asset('bundles/admin/images/offre.png') }}" alt="Gérer les offres"/>
            <p>Gérer les offres d'emplois</p>
        </div>
        <div class="cb"></div>

{% endblock %}