{% extends "base_admin.html.twig" %}
{% block title_admin %}ESPACE ADMINISTRATION {% endblock %}
{% block body %}
   <div id="wrapper-home">
       <h1 class="header">Informations générales</h1>
        <div id="informations_site">
            <h2>Accéder à Google Analytics</h2>
            <a href="https://www.google.com/analytics/web/?hl=fr&pli=1&authuser=1#report/visitors-overview/a65732651w102017672p106014876/"><img src="{{ asset('bundles/admin/images/analytics.png') }}" alt="google analytics"/></a>
        </div>
       <div id="mid-wrapper">
           <div id="user_infos">
               <h2>Informations sur l'utilisateur</h2>
                   <p>Login: {{ app.user.username }}</p>
               <p>Mot de passe : ******</p>

                   <p>Adresse mail: {{ app.user.email }}</p>

               <p>Adresse Ip: 127.0.0.1</p>

                   <p>Dernière connexion: {{ app.user.lastLogin|date('d-m-Y H:i:s') }}</p>

              <a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a>
           </div>
           <div id="systeme">
               <h2></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt praesentium provident quas! A assumenda dolore, excepturi expedita explicabo fugit impedit itaque laboriosam laborum quis similique soluta tempora tempore tenetur velit.</p>
           </div>
       </div>

   </div>
{% endblock %}


