{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Gestion des utilisateurs {% endblock %}
{% block arianne %} {{ parent() }} -> <a href="{{ path('admin_modules') }}">choisir un module</a> {% endblock %}
{% block content %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ wo_render_breadcrumbs() }}
    <br/>
    <a href="{{ path('admin_parametre')}}">
        <button><img src="{{ asset('bundles/admin/images/arrow_back.png') }}" alt=""/>Page précédente</button>
    </a>
    <a href="{{ path('fos_user_registration_register') }}">
        <button class="add_element"><img src="{{ asset('bundles/admin/images/add.png') }}" alt=""/>Ajouter un utilisateur</button>
    </a>
    <table>
        <tr>
            <th>Login</th>
            <th>email</th>
            <th>roles</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email  }}</td>
                <td>{{ user.roles|join('/') }}</td>
                <td>
                    {% if user.username == app.user.username %}
                    <a href="{{ path('fos_user_profile_edit',{id: user.id}) }}">Modifier</a>
                    <a href="{{ path('delete_user',{ id: user.id }) }}" onclick="return confirm('Supprimer cet utilisateur ?')">Supprimer</a>
                    {% else %}
                        <a href="{{ path('delete_user',{ id: user.id }) }}" onclick="return confirm('Supprimer cet utilisateur ?')">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}