{% extends "::layout.html.twig" %}
{% block title %}
    {{ parent() }} | Je veux me former
{% endblock %}
{% block name_page %}
    <ul id="back-categorie">
        <div id="block-contact">
            <p>Contactez-nous pour prendre RDV au 03 22 50 04 50</p>
        </div>
        <a href="{{ path('categorie_page', {'slug': 'emploi'}) }}"><li class="li-emploi">Je cherche un emploi</li></a>
        <a href="{{ path('categorie_page', {'slug': 'quoi-faire'}) }}"><li class="li-faire">Je ne sais pas quoi faire</li></a>
        <a href="{{ path('categorie_page', {'slug': 'quotidien'}) }}"><li class="li-quotidien">Je recherche des infos pratiques</li></a>
    </ul>

{% endblock %}

{% block body %}

    <div id="wrapper-categorie">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} -> Je veux me former</p>
            {% endblock %}
        </div>
        <div class="cb"></div>
            <div id="block_former">
                <h1>Je veux me former</h1>
                <img src="{{ asset('bundles/main/img/fleche_former.png') }}">
                <br/>
                <span class="conseiller">Je rencontre un conseiller pour</span>
                    <p class="item">Connaitre mes possibilités de formations</p>
                    <hr/>
                    <p class="item">Me guider sur le choix d'une formation</p>
                    <hr/>
                    <p class="item">Préparer mon entrée en formation</p>
                    <hr/>
                    <p class="item">M'accompagner pendant ma former</p>
            </div>

        <div id="first-right">
            <h2>Sélectionner un item sur la gauche</h2>
            <img src="{{ asset('bundles/main/img/arrow.png') }}" alt=""/>
        </div>

        <div class="item_right border-emploi">

            <p class="description">

            </p>

            <img class="bandeau_sous_item" src="{{ asset('bundles/main/img/silhouette.png') }}" alt=""/>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

{% endblock %}
