{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Je ne sais pas quoi faire
{% endblock %}
{% block body %}
    <div id="wrapper-categorie">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} -> Je ne sais pas quoi faire</p>
            {% endblock %}
        </div>
        <div class="cb"></div>
            <div class="block_faire_auto">
                <h1>Je ne sais pas quoi faire</h1>
                <img src="{{ asset('bundles/main/img/fleche_faire.png') }}">
                <br/>
                <span class="conseiller">Je rencontre un conseiller pour</span>
                    <p class="item">Faire le point sur ma situation</p>
                    <hr/>
                    <p class="item">Définir mon projet professionnel</p>
            </div>
        <div id="first-right">
            <h2>Sélectionner un item sur la gauche</h2>
            <img src="{{ asset('bundles/main/img/arrow.png') }}" alt=""/>
        </div>
        <div class="item_right border-emploi">

            <p class="description">

            </p>

            <img class="bandeau_sous_item" src="{{ asset('bundles/main/img/silhouette.png') }}" alt=""/>
        </div>
    </div>
    {% include "::footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
