{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} |Je recherche des infos pratiques
{% endblock %}
{% block body %}

    <div id="wrapper-categorie">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} -> Je recherche des infos pratiques</p>
            {% endblock %}
        </div>
        <div class="cb"></div>
            <div class="block_quotidien_auto">
                <h1>Je recherche des infos pratiques</h1>
                <img src="{{ asset('bundles/main/img/fleche_quotidien.png') }}">
                <br/>
                <span class="conseiller">Je rencontre un conseiller pour</span>
                        <p class="item">Me déplacer</p>
                        <hr/>
                        <p class="item">Je dois me déplacer</p>
                        <hr/>
                        <p class="item">Je dois me soigner</p>
                        <hr/>
                        <p class="item">Je souhaite des conseils juridiques</p>
            </div>

            <div id="first-right">
                <h2>Sélectionner un item sur la gauche</h2>
                <img src="{{ asset('bundles/main/img/arrow.png') }}" alt=""/>
            </div>
            <div class="item_right border-emploi">

                <p class="description">

                </p>

                <img class="bandeau_sous_item" src="{{ asset('bundles/main/img/silhouette.png') }}" alt=""/>
            </div>
    </div>
    {% include "::footer.html.twig" %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
