{% extends "::layout.html.twig" %}
{% block title %}
    {{ parent() }} | je cherche un emploi
{% endblock %}

{% block body %}

    <div id="wrapper-categorie">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} -> Je recherche des infos pratiques</p>
            {% endblock %}
        </div>
        <ul id="back-categorie">
            <div id="block-contact">
                <p>Contactez-nous pour prendre RDV au 03 22 50 04 50</p>
            </div>
                <a href="{{ path('categorie_page', {'slug': 'emploi'}) }}"><li class="li-emploi">Je cherche un emploi</li></a>
                <a href="{{ path('categorie_page', {'slug': 'etre-former'}) }}"><li class="li-former">Je veux me former</li></a>
                <a href="{{ path('categorie_page', {'slug': 'quoi-faire'}) }}"><li class="li-faire">Je ne sais pas quoi faire</li></a>
            </ul>

            <div id="block_quotidien">
                <h1>Je recherche des infos pratiques</h1>
                <img src="{{ asset('bundles/main/img/fleche_quotidien.png') }}">
                <br/>
                <span class="conseiller">Je rencontre un conseiller pour</span>
                        <p class="item">Me déplacer</p>
                        <hr/>
                        <p class="item">Je dois me déplacer</p>
                        <hr/>
                        <p class="item">Je dois me soigner</p>
                        <hr/>
                        <p class="item">Je souhaite des conseils juridiques</p>
            </div>

            <div id="first-right">
                <h2>Sélectionner un item sur la gauche</h2>
                <img src="{{ asset('bundles/main/img/arrow.png') }}" alt=""/>
            </div>
            <div class="item_right border-emploi">

                <p class="description">

                </p>

                <img class="bandeau_sous_item" src="{{ asset('bundles/main/img/silhouettes2.png') }}" alt=""/>
            </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
