{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Gérer les antennes {% endblock %}
{% block arianne %} {{ parent() }} -> <a href="{{ path('admin_modules') }}">choisir un module</a> {% endblock %}
{% block content %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <a href="{{ path('admin_antenne')}}">
        <button><img src="{{ asset('bundles/admin/images/arrow_back.png') }}" alt=""/>Page précédente</button>
    </a>
    <a href="{{ path('antenne_add') }}">
        <button class="add_element"><img src="{{ asset('bundles/admin/images/add.png') }}" alt=""/>Ajouter une antenne</button>
    </a>
    <table>
        <tr>
            <th>Nom de l'antenne</th>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
        {% for antenne in antennes %}
            <tr>
                <td>{{ antenne.nom }}</td>
                <td>{{ antenne.ville }}</td>
                <td>{{ antenne.cp }}</td>
                <td><a href="{{ path('antenne_edit') }}">Modifier</a>
                    -
                    <a href="{{ path('antenne_delete') }}">Supprimer</a></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}