{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Choisir un module {% endblock %}
{% block arianne %} {{ parent() }} {% endblock %}
{% block content %}
    <div id="container_module">
        <div class="block_module">
            <a href="{{ path('admin_appel') }}">
                <img src="{{ asset('bundles/main/img/admin/appel.png') }}" alt="Gérer les appels"/>
                <h3>Gérer les appels</h3>
            </a>
        </div>
        <div class="block_module">
            <img src="{{ asset('bundles/main/img/admin/slogan.png') }}" alt="Gérer le slogan" />
            <h3>Gérer le slogan</h3>
        </div>
        <div class="block_module">
            <img src="{{ asset('bundles/main/img/admin/antennes.png') }}" alt="Gérer les antennes" />
            <h3>Gérer les antennes</h3>
        </div>
        <div class="cb"></div>
    </div>

{% endblock %}


