{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Choisir un module {% endblock %}
{% block arianne %} {{ parent() }} {% endblock %}
{% block content %}
    <div id="container_module">
        {% if is_granted('ROLE_OFFRE') %}
            <div class="block_module">
                <a href="{{ path('offre_show') }}">
                    <img src="{{ asset('bundles/admin/images/offres.png') }}" alt="Gérer les offres" />
                    <h3>Gérer les offres</h3>
                </a>
            </div>
        {% endif %}
        {% if is_granted('ROLE_MODERATEUR') %}
            <div class="block_module">
                <a href="{{ path('actu_index') }}">
                    <img src="{{ asset('bundles/admin/images/actu.png') }}" alt="Gérer les actualités"/>
                    <h3>Gérer les actualités</h3>
                </a>
            </div>
            <div class="block_module">
                <a href="{{ path('admin_appel') }}">
                    <img src="{{ asset('bundles/admin/images/appel.png') }}" alt="Gérer les appels"/>
                    <h3>Gérer les appels</h3>
                </a>
            </div>
            <div class="block_module">
                <img src="{{ asset('bundles/admin/images/slogan.png') }}" alt="Gérer le slogan" />
                <h3>Modifier le slogan</h3>
            </div>
            <div class="block_module">
                <a href="{{ path('admin_antenne') }}">
                    <img src="{{ asset('bundles/admin/images/antennes.png') }}" alt="Gérer les antennes" />
                    <h3>Gérer les antennes</h3>
                </a>
            </div>
            <div class="block_module">
                <img src="{{ asset('bundles/admin/images/quisommesnous.png') }}" alt="Modifier la rubrique Qui sommes nous" />
                <h3>Qui sommes nous ?</h3>
            </div>
            <div class="block_module">
                <a href="{{ path('admin_agenda') }}">
                    <img src="{{ asset('bundles/admin/images/agenda.png') }}" alt="Modifier l'agenda" />
                    <h3>Modifier l'agenda</h3>
                </a>
            </div>
            <div class="block_module">
                <a href="{{ path('admin_encart') }}">
                <img style="width:64px; height:64px;" src="{{ asset('bundles/admin/images/encart.png') }}" alt="Modifier les encarts" />
                <h4>Modifier les encarts</h4>
                </a>
            </div>
            <div class="block_module">
                <a href="{{ path('admin_doc') }}">
                    <img style="width:64px; height:64px;" src="{{ asset('bundles/admin/images/doc.png') }}" alt="Modifier la documentation" />
                    <h5>Modifier la documentation</h5>
                </a>
            </div>
            <div class="cb"></div>
        {% endif %}
    </div>

{% endblock %}


