<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/main/css/style_admin.css') }}"
              type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/main/css/outdatedbrowser.css') }}"/>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="handler-left">
    <div id="container_logo">
        <a href="{{ path('admin_homepage') }}">
        <img src="{{ asset('bundles/main/img/logo.png') }}" alt="">
        <h1>Administration</h1>
        </a>
    </div>

    <ul id="menu">
        {% if is_granted('ROLE_OFFRE') %}
            <a href="{{ path('admin_modules') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/module.png') }}" alt="gerer_module">Gérer les modules</li></a>
        {% endif %}
        {% if is_granted('ROLE_MODERATEUR') %}
            <a href="{{ path('admin_categorie') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/admin_category.png') }}" alt="gerer_categorie">Gérer les catégories</li></a>
        {% endif %}
        {% if is_granted('ROLE_MODERATEUR') %}
            <a href="{{ path('admin_media') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/admin_media.png') }}" alt="gerer_media">Gérer les médias</li></a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_parametre') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/settings.png') }}" alt="parametre">Paramètres</li></a>
        {% endif %}

        <a href="{{ path('fos_user_security_logout') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/cancel.png') }}" alt="se déconnecter">Se déconnecter</li></a>
        <!--<a href="{{ path('main_homepage') }}" target="_blank"><li class="item_menu">Voir le site</li></a>-->
        <a href="{{ path('main_homepage') }}" target="_blank"><li class="item_menu">Voir le site</li></a>

    </ul>
</div>
{% block body %}

{% endblock %}
{% block javascript %}
    <script src=" {{ asset('bundles/admin/js/ckeditor/ckeditor.js') }}"></script>
    <script>
        CKEDITOR.replace('ck_textarea', {
            "filebrowserImageUploadUrl": "http://localhost/symfony_ml/web/bundles/admin/js/ckeditor/plugins/imgupload.php"
        });
    </script>
{% endblock %}
</body>
</html>