<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/main/css/style_admin.css') }}"
              type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/main/css/outdatedbrowser.css') }}"/>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="handler-left">
    <div id="container_logo">
        <img src="{{ asset('bundles/main/img/logo.png') }}" alt="">
        <h1>Administration</h1>
    </div>

    <ul id="menu">
        <a href="{{ path('admin_categorie') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/admin_category.png') }}" alt="gerer_categorie">Gérer les catégories</li></a>
        <a href="{{ path('admin_modules') }}"><li class="item_menu"><img src="{{ asset('bundles/admin/images/module.png') }}" alt="gerer_module">Gérer des modules</li></a>
        <a href=""><li class="item_menu"><img src="{{ asset('bundles/admin/images/settings.png') }}" alt="parametre">Paramètres</li></a>
        <li class="item_menu"><img src="{{ asset('bundles/admin/images/cancel.png') }}" alt="se déconnecter"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
        <a href="{{ path('main_homepage') }}">Voir le site</a>
    </ul>
</div>
{% block body %}



{% endblock %}
{% block javascript %}
    <script src=" {{ asset('bundles/admin/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
</body>
</html>