<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/main/css/style_admin.css') }}"
              type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/main/css/outdatedbrowser.css') }}"/>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div id="container_logo">
    <img src="{{ asset('bundles/main/img/logo.png') }}" alt="">
</div>
{% block body %}
    {% block arianne %}
        <a href="{{ path('admin_homepage') }}">Retourner à l''accueil</a>
    {% endblock %}


{% endblock %}
{% block javascript %}
    <script src=" {{ asset('bundles/admin/ckeditor/ckeditor.js') }}"></script>
{% endblock %}
</body>
</html>