<!-- MENU -->
<!--<div class="arrow_box">
    <span id="close">&times;</span>
    <h1>test</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, maiores, odit? A alias animi aspernatur atque consectetur et exercitationem fugit impedit, ipsa magnam natus numquam omnis perferendis quo sint, tempore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet ea hic ipsum magnam natus nostrum quia quod voluptates. Alias culpa cum cumque dolor earum non perspiciatis quam quis.</p>
</div>-->
<div id="footer">
    <div id="container_menu">
        <ul id="menu">
            <a href="{{ path('quisommesnous_page') }}"><li class="item_menu" id="qsn">Qui sommes nous ?</a></li>
            <a href="{{ path('agenda_page') }}"><li class="item_menu">Agenda</a></li>
            <a href="{{ path('doc_page') }}" ><li class="item_menu">Documentation</a></li>
        </ul>
    </div>
    <p><a href="{{ path('mention_legal') }}">Mention légales</a> | <a href="{{ path('cgo_page') }}">Conditions générales des offres</a></p>
    <div id="outdated"> <h6>Votre navigateur est désuet!</h6>
        <p>Mettez à jour votre navigateur pour afficher correctement ce site Web. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/fr">Mettre à jour maintenant </a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Fermer">&times;</a></p>
    </div>
</div>


