{% extends "base.html.twig" %}
{% block header %}
    <div class="small-header">
        <div id="container_logo">
            <span class="helper"></span>
            <a href="{{ path('main_homepage') }}"><img src="{{ asset('bundles/main/img/logo.png') }}" alt=""></a>
        </div>
        <!-- LOGO FACEBOOK -->
        <a href="https://www.facebook.com/MLIFE.GA">
            <div id="facebook">

                <p> <img src="{{ asset('bundles/main/img/logo_facebook.png') }}" alt=""/>
                    <span class="txt_facebook">Retrouvez nous sur Facebook</span></p>
            </div>
        </a>
        <!------------------------------->
        {% block name_page %}

        {% endblock %}
    </div>
{% endblock %}
{% block body %}

    {% block arianne %}
        {{ parent() }}<a href="{{ path('moins26_page') }}"> -> moins de 26 ans</a>
    {% endblock %}

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=fr"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/functions.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/coin-slider.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-ui-1.8.12.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/main/js/display-description.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#coin-slider').coinslider();
        });

    </script>
{% endblock %}



