{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Employeur
{% endblock %}
{% block body %}
{% set length_max = 25 %}

    <div id="wrapper-item">
        <div class="arianne">
            {% block arianne %}
                {{ parent()  }} / Employeur
            {% endblock %}

        </div>
        <div id="container_item">
            <div id="bandeau_employeur">
                <p></p>
                <div id="block_appel">
                    <img class="punaise" src="{{ asset('bundles/main/img/punaise.png') }}" alt="" style="float: left;"/>
                    <p>Contactez-nous </p>
                </div>
            </div>


        <div id="block_emploi">
            <h1>Employeur</h1>
            <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
            <img src="{{ asset('bundles/main/img/fleche_emploi.png') }}">

            <div class="item_emploi">
                <hr/>

                <a href="">
                    <p class="item">Préparer mon entretien</p>
                </a>
                <input type="hidden" value="7"/>
                <hr/>
                <a href="">
                    <p class="item">Découvrir l&#039;entreprise</p>
                </a>
                <input type="hidden" value="8"/>
                <hr/>

            </div>
        </div>
            <div id="block_emploi">
                <h1>Employeur</h1>
                <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
                <img src="{{ asset('bundles/main/img/fleche_emploi.png') }}">

                <div class="item_emploi">
                    <hr/>

                    <a href="">
                        <p class="item">Préparer mon entretien</p>
                    </a>
                    <input type="hidden" value="7"/>
                    <hr/>
                    <a href="">
                        <p class="item">Découvrir l&#039;entreprise</p>
                    </a>
                    <input type="hidden" value="8"/>
                    <hr/>

                </div>
            </div>
            <div id="block_emploi">
                <h1>Employeur</h1>
                <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
                <img src="{{ asset('bundles/main/img/fleche_emploi.png') }}">

                <div class="item_emploi">
                    <hr/>

                    <a href="">
                        <p class="item">Préparer mon entretien</p>
                    </a>
                    <input type="hidden" value="7"/>
                    <hr/>
                    <a href="">
                        <p class="item">Découvrir l&#039;entreprise</p>
                    </a>
                    <input type="hidden" value="8"/>
                    <hr/>

                </div>
            </div>
            <div id="block_emploi">
                <h1>Employeur</h1>
                <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
                <img src="{{ asset('bundles/main/img/fleche_emploi.png') }}">

                <div class="item_emploi">
                    <hr/>

                    <a href="">
                        <p class="item">Préparer mon entretien</p>
                    </a>
                    <input type="hidden" value="7"/>
                    <hr/>
                    <a href="">
                        <p class="item">Découvrir l&#039;entreprise</p>
                    </a>
                    <input type="hidden" value="8"/>
                    <hr/>

                </div>
            </div>
    </div>
    {% include "::footer.html.twig" %}
    <div class="cb"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){

            $(".img_moins26").addClass("opacity");
            $(".img_plus26").addClass("opacity");
        });
    </script>
{% endblock %}