{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Les actualités
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} / Les actualités</p>
            {% endblock %}
        </div>

        <div id="container-article">
            <div class="last-10-articles">
                <h2 class="sous_actus">Les 3 derniers articles</h2>

                {% for last_actu in last_actus %}

                    <div class="infos-article">

                       {% set thumb = 'uploads/actu/'~last_actu.thumb.path %}

                        <img src="{{ thumb|imagine_filter('actu_thumb') }}" alt="{{ last_actu.thumb.name }}"/>
                        <h2 class="extrait-article-titre"><a href="{{ path('view_actu',{'slug_actu': last_actu.slug}) }}">{{ last_actu.titre }}</a></h2>
                       <p>Publié le : {{ last_actu.dateDebut|date('d-m-Y') }}</p>
                        <hr/>
                        <p class="extrait-article-description">{{ last_actu.description|truncate(250) }}</p>

                    </div> <div class="cb"></div>

                {% endfor %}
            </div>
            <div class="all-articles">
                <h2 class="sous_actus">Historique des articles</h2>
                {% for actu in actus %}
                <div class="article-extrait">
                    <p>
                    <span class="date-actu">{{ actu.dateDebut|date('d-m-Y') }}</span> -
                    <a href="{{ path('view_actu',{'slug_actu': actu.slug}) }}">{{ actu.titre|truncate(20) }}</a> -
                    <span class="description-actu">{{ actu.description|truncate(40) }}</span>
                        <a href="{{ path('view_actu',{'slug_actu': actu.slug}) }}"><img src="{{ asset('bundles/main/img/loupe.png')}}" alt="en savoir plus"/></a>
                    </p>
                </div>

                {% endfor %}
            </div>

        </div>
        {% include "::footer.html.twig" %}
    </div>

    <div class="cb"></div>

{% endblock %}
