{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | {{ actu.titre }}
{% endblock %}
{% block body %}
    <div id="wrapper-item">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} / Actualité / {{ actu.titre }}</p>
            {% endblock %}
        </div>
        <div id="btn_articles">
            <p>
                <img src="{{ asset('bundles/main/img/small_actu.png') }}" alt=""/>
                <a href="{{ path('all_articles') }}">Voir tous les articles</a>
            </p>

        </div>
        <div id="documentation" style="background: white;">

            <div id="header_doc" style="width: 1062px; margin-top: -39px;">
                <h1>
                    <img src="{{ asset('bundles/main/img/cv.png') }}" alt="">
                    {{ actu.titre }}
                </h1>
            </div>

            <div id="contenu">
                {{ actu.contenu|raw }}
                <div class="cb"></div>
            </div>

        </div>
        {% include "::footer.html.twig" %}
    </div>

    <div class="cb"></div>

{% endblock %}
