{% extends "::base.html.twig" %}
{% block title %}
   {{ parent() }} | Moins de 26 ans
{% endblock %}
{% block body %}
{% set length_max = 25 %}
    <div id="wrapper-item">
        <div class="arianne">
            {% block arianne %}
                <p>{{ parent() }} / Moins de 26 ans</p>
            {% endblock %}

        </div>
        <div id="container_item">
            <div class="cb"></div>

            <div id="bandeau_categorie">
                <p></p>
                <div id="block_appel">
                    <img class="punaise" src="{{ asset('bundles/main/img/punaise.png') }}" alt="" style="float: left;"/>
                    <p>Contactez-nous </p>
                </div>
            </div>

            <div id="{{ categorie_emploi.class }}">
                {% if categorie_emploi.nameCategory|length > length_max %}
                    <h1>{{ categorie_emploi.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 43px;">Je rencontre un conseiller pour :</span>
                {% else %}
                    <h1>{{ categorie_emploi.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
                {% endif %}
                <img src="{{ asset('bundles/main/img/'~ categorie_emploi.fleche ) }}">

                <div class="item_emploi">
                    <hr/>
                    <a href="{{ path('categorie_page', {'id': categorie_emploi.id , 'slug': categorie_emploi.slug }) }}">

                        {% for sous_item in list_emploi_sousItem %}

                          <p class="item">{{ sous_item.nomSousItem }}</p>
                            <input type="hidden" value="{{ sous_item.id }}"/>
                            <hr/>
                        {% endfor %}
                    </a>
                </div>
            </div>

            <div id="{{ categorie_former.class }}">
                {% if categorie_former.nameCategory|length > length_max %}
                    <h1>{{ categorie_former.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 43px;">Je rencontre un conseiller pour :</span>
                {% else %}
                    <h1>{{ categorie_former.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
                {% endif %}
                <img src="{{ asset('bundles/main/img/'~ categorie_former.fleche ) }}">

                <div class="item_faire">

                    <hr/>
                    <a href="{{ path('categorie_page', {'id': categorie_former.id , 'slug': categorie_former.slug }) }}">

                        {% for sous_item in list_former_sousItem %}
                        <p class="item">{{ sous_item.nomSousItem }}</p>
                            <hr/>
                        {% endfor %}
                    </a>
                </div>
            </div>

            <div id="{{ categorie_faire.class }}">
                {% if categorie_faire.nameCategory|length > length_max %}
                    <h1>{{ categorie_faire.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 43px;">Je rencontre un conseiller pour :</span>
                {% else %}
                    <h1>{{ categorie_faire.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 74px">Je rencontre un conseiller pour :</span>
                {% endif %}
                <img src="{{ asset('bundles/main/img/'~ categorie_faire.fleche ) }}">
                <div class="item_former">

                    <hr/>
                    <a href="{{ path('categorie_page', {'id': categorie_faire.id , 'slug': categorie_faire.slug }) }}">

                        {% for sous_item in list_faire_sousItem %}
                        <p class="item"> {{ sous_item.nomSousItem }}</p>
                            <hr/>
                        {% endfor %}
                    </a>
                </div>
            </div>
            <div id="{{ categorie_quotidien.class }}">
                {% if categorie_quotidien.nameCategory|length > length_max %}
                    <h1>{{ categorie_quotidien.nameCategory }}</h1>
                    <span class="conseiller" style="margin-top: 43px;">Je rencontre un conseiller pour :</span>
                    {% else %}
                    <h1>{{ categorie_quotidien.nameCategory }}</h1>
                    <span class="conseiller">Je rencontre un conseiller pour :</span>
                {% endif %}

                <img src="{{ asset('bundles/main/img/'~ categorie_quotidien.fleche ) }}">
                <div class="item_quotidien">


                    <a href="{{ path('categorie_page', {'id': categorie_quotidien.id , 'slug': categorie_quotidien.slug }) }}">
                        <hr/>
                        {% for sous_item in list_quotidien_sousItem %}
                        <p class="item">{{ sous_item.nomSousItem }}</p>
                            <hr/>
                        {% endfor %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include "::footer.html.twig" %}
    <div class="cb"></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){

            $(".img_employeur").addClass("opacity");
            $(".img_plus26").addClass("opacity");
        });
    </script>
{% endblock %}