{% extends "::layout.html.twig" %}
{% block title %}
   {{ parent() }} | Moins de 26 ans
{% endblock %}

{% block body %}
    <div id="wrapper-item">
        <div class="arianne">
            {% block arianne %}
                {{ parent()  }}
            {% endblock %}
        </div>

        <img style="display: block;"class="bulle_moins_26" src="{{ asset('bundles/main/img/moins26.png') }}" alt=""/>

        <img id="bandeau_perso" src="{{asset('bundles/main/img/silhouettes2.png') }}" />

        <div class="cb"></div>

        <div id="bandeau_categorie">
            <p>Contactez-nous pour prendre RDV au 03 22 50 04 50</p>
        </div>

        <div id="{{ categorie_emploi.class }}">
            <h1>{{ categorie_emploi.nameCategory }}</h1>

            <img src="{{ asset('bundles/main/img/'~ categorie_emploi.fleche ) }}">

            <div class="item_emploi">
                <span class="conseiller">Je rencontre un conseiller pour :</span>

                <a href="{{ path('categorie_page', {'slug': categorie_emploi.slug }) }}">

                    {% for sous_item in list_emploi_sousItem %}
                      <p class="item">{{ sous_item.nomSousItem }}</p>
                        <hr/>
                    {% endfor %}
                </a>
            </div>
        </div>

        <div id="{{ categorie_former.class }}">
            <h1>{{ categorie_former.nameCategory }}</h1>

            <img src="{{ asset('bundles/main/img/'~ categorie_former.fleche ) }}">

            <div class="item_former">
                <span class="conseiller">Je rencontre un conseiller pour :</span>

                <a href="{{ path('categorie_page', {'slug': categorie_former.slug }) }}">

                    {% for sous_item in list_former_sousItem %}
                    <p class="item">{{ sous_item.nomSousItem }}</p>
                        <hr/>
                    {% endfor %}
                </a>
            </div>
        </div>

        <div id="{{ categorie_faire.class }}">
            <h1>{{ categorie_faire.nameCategory }}</h1>

            <img src="{{ asset('bundles/main/img/'~ categorie_faire.fleche ) }}">

            <div class="item_faire">
                <span class="conseiller">Je rencontre un conseiller pour :</span>

                <a href="{{ path('categorie_page', {'slug': categorie_faire.slug }) }}">

                    {% for sous_item in list_faire_sousItem %}
                    <p class="item"> {{ sous_item.nomSousItem }}</p>
                        <hr/>
                    {% endfor %}
                </a>
            </div>
        </div>
        <div id="{{ categorie_quotidien.class }}">
            <h1>{{ categorie_quotidien.nameCategory }}</h1>

            <img src="{{ asset('bundles/main/img/'~ categorie_quotidien.fleche ) }}">

            <div class="item_quotidien">
                <span class="conseiller">Je rencontre un conseiller pour :</span>

                <a href="{{ path('categorie_page', {'slug': categorie_quotidien.slug }) }}">

                    {% for sous_item in list_quotidien_sousItem %}
                    <p class="item">{{ sous_item.nomSousItem }}</p>
                        <hr/>
                    {% endfor %}
                </a>
            </div>
        </div>
    </div>
    <div class="cb"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $("#block_emploi").mouseover(function(){
                $(".item_emploi").slideDown();
                $("#block_emploi").css('height','auto');
                $(".item_faire").slideUp();
                $(".item_quotidien").slideUp();
                $(".item_former").slideUp();
            });
            $("#block_former").mouseover(function(){
                $("#block_former").css('height','auto');
                $(".item_former").slideDown();
                $(".item_faire").slideUp();
                $(".item_quotidien").slideUp();
                $(".item_emploi").slideUp();
            });

            $("#block_faire").mouseover(function(){
                $(".item_faire").slideDown();
                $(".item_quotidien").slideUp();
                $(".item_emploi").slideUp();
                $(".item_former").slideUp();
                $("#block_faire").css('height','auto');
            });

            $("#block_quotidien").mouseover(function(){
                $(".item_quotidien").slideDown();
                $(".item_faire").slideUp();
                $(".item_emploi").slideUp();
                $(".item_former").slideUp();
                $("#block_quotidien").css('height','auto');
            });

        });

    </script>

{% endblock %}