{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} | Les antennes
{% endblock %}
{% block body %}
<div id="wrapper-item">
    <div class="arianne">
        {% block arianne %}
            <p>{{ parent() }} / les antennes</p>
        {% endblock %}
    </div>

    <div id="container_antennes">
        <div id="header_doc" style="width: 960px;">
            <h1><img src="{{ asset('bundles/main/img/cv.png') }}" alt=""/>
                Nos lieux d'accueils permanents
            </h1>
        </div>
        {% for antenne in antennes %}
            <div class="contenu_antennes">
                <h2>{{ antenne.nom }}</h2>
                <img src="{{ asset('bundles/main/img/'~antenne.pathImg) }}" alt=""/>
                <p>{{ antenne.adresse }}</p>
                
                <h4>Horaires d'ouverture :</h4>

                <p>{{ antenne.horaire }}</p>

            </div>
        {% endfor %}
    </div>
    {% include "::footer.html.twig" %}
</div>
    <div class="cb"></div>

{% endblock %}
