{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}
{% block body %}
    <!-- CONTAINER PRINCIPAL -->
    <div id="container">

        <div id="wrapper-top">
            <!-- BLOCK ACTUALITE -->
            <div id="actu">
                <div id="header_actu">
                    <img src="{{ asset('bundles/main/img/ampoule.png') }}" alt="">
                    Nos actualités
                    <span id="all_articles">
                        <img src="{{ asset('bundles/main/img/small_actu.png') }}" alt=""/>
                        <a href="{{ path('all_articles') }}">Voir tous les articles</a>
                    </span>
                </div>

                    <div id='slides'>
                    {% for actu in actus %}
                        <a href="{{ path('view_actu', { 'slug_actu': actu.slug }) }}">
                            <img src="{{ asset('uploads/actu/'~actu.image.path) }}" alt="{{ actu.image.name }}"/>
                        </a>
                    {% endfor %}
                    </div>

            </div>

            <div id="actu_mobile">

            </div>
            <!------------------------------->

            <!-- BLOCK OFFRE -->
            <div id="offre">
                <div id="header_offre">
                    <p>Les offres de la semaine
                        <img src="{{ asset('bundles/main/img/cv.png') }}" alt="toute l'actualité"/>
                    </p>
                     <span id="all_offres">
                        <a href="{{ path('offres_page') }}">Voir toutes les offres</a>
                    </span>
                </div>
                <table>
                    <tr>
                        <th>Numéro d'offre</th>
                        <th>Nom de l'offre</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                    {% for offre in offres %}
                        <tr>
                            <td>{{ offre.numOffre }}</td>
                            <td>{{ offre.nomOffre }}</td>
                            <td>{{ offre.createdAt|date('d-m-Y') }}</td>
                            <td><a href="{{ path('offre_page',{ 'slug' : offre.slug}) }}"><img src="{{ asset('bundles/main/img/loupe.png') }}" alt="offre" title="voir l'offre"></a></td>
                        </tr>
                    {% endfor %}
                </table>
                <p id="offre_condition">Certaines offres sont sous certaines conditions, <a href="{{ path('cgo_page') }}">Conditions générales des offres</a></p>
            </div>
            <div id="offre_mobile">

            </div>
            <!------------------------------->
        </div>

        <div class="cb"></div>

        <!-- BLOCK SLOGAN -->
        <div id="slogan">
            <h2>L'équipe de la <img src="{{ asset('bundles/main/img/logo_simplifie.png') }}" alt="logo mlife"/> est à votre écoute et vous
            accompagne dans vos projets.</h2>
        </div>
        <div class="cb"></div>
        <!------------------------------->
        <div id="antenne_mobile">

        </div>
        <!-- BLOCK MAP -->
        <div id="where">
            <div id="header_where">
                <p class="txt_header_where"><img src="{{ asset('bundles/main/img/maps.png') }}" alt="logo marker">Où nous trouver ?</p>
                <!-- BLOCK POST-IT -->
                <a href="#modalbox">
                    <div id="block_appel">
                        <img class="punaise" src="{{ asset('bundles/main/img/punaise.png') }}" alt="" style="float: left;"/>
                        <p>{{ encart.contenu }}</p>
                        <div id="conseiller">
                            <img  src="{{ asset('bundles/main/img/conseiller.png') }}" alt=""/>
                            <img src="{{ asset('bundles/main/img/conseiller_femme.png') }}" alt=""/>
                        </div>
                    </div>
                </a>
                <!-------------------->
            </div>

            <div id="map">
                <p>Veuillez patienter pendant le chargement de la carte...</p>
            </div>
            <a href="{{ path('antennes_page') }}">
               <div id="btn_anntennes">
                   <p>La mission locale proche de chez vous
                       <img src="{{ asset('bundles/main/img/marker.png') }}" alt="marker"/>
                   </p>
               </div>
            </a>

            <!-- BLOCK ITENERAIRE -->
            <div id="iteneraire">
                <div id="header_iteneraire">
                    <img src="{{ asset('bundles/main/img/itineraire.png') }}" alt="iteneraire">Mon trajet
                </div>

                <form action="" method="get" name="direction" id="direction">
                    <label>Point de départ :</label>
                    <input type="text" name="origin" id="origin" required="required" /><br>
                    <label>Destination :</label>
                    <select name="destination" id="destination">
                        {% for antenne in antennes %}
                            <option value="{{ antenne.lat~','~antenne.lng }}">{{ antenne.nom }}</option>
                        {% endfor %}
                        <!--<option value="39 avenue de la paix amiens">Amiens Nord</option>
                        <option value="120 Rue Simone Signoret, Amiens">Amiens Sud et Est</option>
                        <option value="10 Rue Gresset, Amiens">Amiens Centre</option>
                        <option value="34 Avenue de Picardie, Amiens">Amiens Ouest</option>
                        <option value="50.156175, 2.338603">Doullens</option>
                        <option value="Bernaville">Bernaville</option>
                        <option value="Saint-Léger-lès-Domart">Saint-Léger-lès-Domart</option>
                        <option value="Flixecourt">Flixecourt</option>
                        <option value="Vignacourt">Vignacourt</option>
                        <option value="Villers-Bocage">Villers-Bocage</option>
                        <option value=">Camon">Camon</option>
                        <option value=">Longueau">Longueau</option>
                        <option value=">Villers-Bretonneux">Villers-Bretonneux</option>
                        <option value=">Boves 02">Boves 02</option>
                        <option value=">Salouël">Salouël</option>
                        <option value=">Ailly-sur-Somme">Ailly-sur-Somme</option>
                        <option value=">Molliens-Dreuil">Molliens-Dreuil</option>
                        <option value=">Airaines">Airaines</option>
                        <option value=">Oisemont">Oisemont</option>
                        <option value=">Senarpont">Senarpont</option>
                        <option value=">Liomer">Liomer</option>
                       <option value=">49.778936, 1.977807">Poix-de-Picardie</option>
                      <option value=">Quevauvillers">Quevauvillers</option>
                        <option value=">Plachy-Buyon">Plachy-Buyon</option>
                        <option value=">Conty">Conty</option>
                        <option value=">Liomer">Liomer</option>
                        <option value=">Quevauvillers">Quevauvillers</option>
                        <option value=">Plachy-Buyon">Plachy-Buyon</option>-->
                    </select>
                    <br>
                    <input type="button" value="Calculer l'itinéraire" onclick="javascript:calculate()">
                </form>
            </div>
            <!--------------------------->

            <div class="cb"></div>
            <!--<div id="panel"></div>-->
            <div class="cb"></div>
        </div>


        <!--------------------->
        <!-- MODAL BOX -->
        <div id="modalbox">
            <div id="box">

                <img class="silhouette_small" src="{{ asset('bundles/main/img/silhouette_gauche.png') }}" alt=""/>
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h3>Vous faire appeler par un conseiller</h3>

                <div id="form-appel">
                    {{ form_start(form) }}
                    <p style="color:orange; font-size: 20px;">Module bientot disponible</p>
                    <!--<label for="particulier_input">Vous êtes un particulier</label><input type="radio" name="type" value="particulier" id="particulier_input" checked="checked"/><br/>
                    <label for="entreprise_input">Vous êtes une entreprise</label><input type="radio" name="type" value="entreprise" id="entreprise_input"/>
                    -->
                    <div id="choix_statut">
                        {{ form_label(form.entreprise) }}
                        {{ form_widget(form.entreprise) }}
                    </div>
                    <div id="particulier">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom) }}
                        {{ form_errors(form.prenom) }}
                    </div>
                    {% block form_label %}
                        <label for="">Votre téléphone*<span class="numero_label">(Ex: 0123456789)</span></label>
                        {{ form_widget(form.telephone) }}
                        {{ form_errors(form.telephone) }}
                    {% endblock %}
                    <!--{{ form_widget(form.Valider) }}-->

                    {{ form_end(form) }}
                    <p class="champs-requis" style="color: red">* Champ obligatoires</p>
                    <div class="cb"></div>
                </div>
                <div class="cross">
                    <a href="{{ path('main_homepage') }}">X</a>
                </div>
                <div class="cb"></div>
            </div>
        </div>
        <!------------------------------------->

    <!-- FIN DU CONTAINER -->
        {% include "::footer.html.twig" %}

{% endblock %}
        {% block files_javascript %}
            <script type="text/javascript" src="{{ asset('bundles/main/js/jquery-ui-1.8.12.custom.min.js') }}"></script>

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('bundles/main/js/util.js') }} "></script>
            <script type="text/javascript" src="{{ asset('bundles/main/js/functions.js') }}"></script>
            <script src="{{ asset('bundles/main/js/employeur_appel.js') }}"></script>
            <script type="text/javascript">
                $("#slides").slidesjs({
                    width: 600,
                    height: 300
                });
            </script>
        {% endblock %}
