{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}
{% block body %}
    <!-- CONTAINER PRINCIPAL -->
    <div id="container">

        <div id="wrapper-top">
            <!-- BLOCK ACTUALITE -->
            <div id="actu">
                <div id="header_actu">
                    <img src="{{ asset('bundles/main/img/ampoule.png') }}" alt="">L'actualité de la mission locale
                </div>
                    <div id='coin-slider'>
                        <a href="" target="_blank">
                            <img src="{{ asset('bundles/main/img/actu1.jpg') }}">
                            <span>Métier de l'animation</span>
                        </a>
                        <a href="" target="_blank">
                            <img src="{{ asset('bundles/main/img/actu2.jpg') }}">
                            <span>Offres d'emploi</span>
                        </a>
                    </div>
            </div>
            <!------------------------------->

            <!-- BLOCK OFFRE -->
            <div id="offre">
                <div id="header_offre">
                    <p>Les offres de la semaine
                        <img src="{{ asset('bundles/main/img/cv.png') }}" alt=""/>
                    </p>
                </div>
                <table>
                    <tr>
                        <th>Numéro d'offre</th>
                        <th>Nom de l'offre</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>00001</td>
                        <td>Recherche Magasinier</td>
                        <td>27/10/2014</td>
                        <td><img src="{{ asset('bundles/main/img/loupe.png') }}" alt=""></td>
                    </tr>
                    <tr>
                        <td>00002</td>
                        <td>Apprenti cuisiner</td>
                        <td>20/10/2014</td>
                        <td><img src="{{ asset('bundles/main/img/loupe.png') }}" alt=""></td>
                    </tr>
                    <tr>
                        <td>00031</td>
                        <td>Emploi de secrétaire</td>
                        <td>01/10/2014</td>
                        <td><img src="{{ asset('bundles/main/img/loupe.png') }}" alt=""></td>
                    </tr>
                    <tr>
                        <td>00010</td>
                        <td>Mécanicien</td>
                        <td>01/10/2014</td>
                        <td><img src="{{ asset('bundles/main/img/loupe.png') }}" alt=""></td>
                    </tr>
                </table>
            </div>
            <!------------------------------->
        </div>

        <div class="cb"></div>

        <!-- BLOCK SLOGAN -->
        <div id="slogan">
            <h2>L'équipe de la <img src="{{ asset('bundles/main/img/logo_simplifie.png') }}" alt="logo mlife"/> est à votre écoute et vous
            accompagne dans vos projets.</h2>
        </div>
        <div class="cb"></div>
        <!------------------------------->

        <!-- BLOCK MAP -->
        <div id="where">
            <div id="header_where">
                <p class="txt_header_where"><img src="{{ asset('bundles/main/img/maps.png') }}" alt="logo marker">Où nous trouver ?</p>
                <!-- BLOCK POST-IT -->
                <a href="#modalbox">
                    <div id="block_appel">
                        <img class="punaise" src="{{ asset('bundles/main/img/punaise.png') }}" alt="" style="float: left;"/>
                        <p>Faites-vous appelez gratuitement</p>
                        <div id="conseiller">
                            <img  src="{{ asset('bundles/main/img/conseiller.png') }}" alt=""/>
                            <img src="{{ asset('bundles/main/img/conseiller_femme.png') }}" alt=""/>
                        </div>
                    </div>
                </a>
                <!-------------------->
            </div>

            <div id="map">
                <p>Veuillez patienter pendant le chargement de la carte...</p>
            </div>
            <a href="{{ path('antennes_page') }}">
               <div id="btn_anntennes">
                   <p>La mission locale proche de chez vous
                       <img src="{{ asset('bundles/main/img/marker.png') }}" alt="marker"/>
                   </p>
               </div>
            </a>

            <!-- BLOCK ITENERAIRE -->
            <div id="iteneraire">
                <div id="header_iteneraire">
                    <img src="{{ asset('bundles/main/img/itineraire.png') }}" alt="iteneraire">Mon trajet
                </div>

                <form action="" method="get" name="direction" id="direction">
                    <label>Point de départ :</label>
                    <input type="text" name="origin" id="origin"><br>
                    <label>Destination :</label>
                    <select name="destination" id="destination">
                        <option value="39 avenue de la paix amiens">Amiens Nord</option>
                        <option value="120 Rue Simone Signoret, Amiens">Amiens Sud et Est</option>
                        <option value="10 Rue Gresset, Amiens">Amiens Centre</option>
                        <option value="34 Avenue de Picardie, Amiens">Amiens Ouest</option>
                        <option value="50.156175, 2.338603">Doullens</option>
                        <!--<option value="Bernaville">Bernaville</option>
                        <option value="Saint-Léger-lès-Domart">Saint-Léger-lès-Domart</option>
                        <option value="Flixecourt">Flixecourt</option>
                        <option value="Vignacourt">Vignacourt</option>
                        <option value="Villers-Bocage">Villers-Bocage</option>
                        <option value=">Camon">Camon</option>
                        <option value=">Longueau">Longueau</option>
                        <option value=">Villers-Bretonneux">Villers-Bretonneux</option>
                        <option value=">Boves 02">Boves 02</option>
                        <option value=">Salouël">Salouël</option>
                        <option value=">Ailly-sur-Somme">Ailly-sur-Somme</option>
                        <option value=">Molliens-Dreuil">Molliens-Dreuil</option>
                        <option value=">Airaines">Airaines</option>
                        <option value=">Oisemont">Oisemont</option>
                        <option value=">Senarpont">Senarpont</option>
                        <option value=">Liomer">Liomer</option>-->
                       <option value=">49.778936, 1.977807">Poix-de-Picardie</option>
                      <!-- <option value=">Quevauvillers">Quevauvillers</option>
                        <option value=">Plachy-Buyon">Plachy-Buyon</option>
                        <option value=">Conty">Conty</option>
                        <option value=">Liomer">Liomer</option>
                        <option value=">Quevauvillers">Quevauvillers</option>
                        <option value=">Plachy-Buyon">Plachy-Buyon</option>-->
                    </select>
                    <br>
                    <input type="button" value="Calculer l'itinéraire" onclick="javascript:calculate()">
                </form>
            </div>
            <!--------------------------->

            <div class="cb"></div>
            <div id="panel"></div>
            <div class="cb"></div>
        </div>

        <!-- MENU -->
        <div id="container_menu">
                <ul id="menu">
                    <li class="item_menu"><a href="#">Agenda</a></li>
                    <li class="item_menu"><a href="#">Centres Ressources</a></li>
                    <li class="item_menu"><a href="#">Documentation</a></li>
                    <li class="item_menu"><a href="#">Qui sommes nous ?</a></li>
                </ul>
        </div>
        <!--------------------->
        <!-- MODAL BOX -->
        <div id="modalbox">
            <div id="box">
                <img class="silhouette_small" src="{{ asset('bundles/main/img/silhouette_gauche.png') }}" alt=""/>
                <h3>Me faire appeler par un conseiller</h3>
                <div id="form-appel">
                    <form action="">
                        <label for="">Ton prénom : </label><input type="text" name="prenom"/><br/>
                        <label for=""><span class="champs-requis">*</span>Ton numéro :</label><input type="tel" name="telephone"/><br/>
                        <input class="btn-submit" type="submit" name="valider"/>

                        <p class="champs-requis">Les champs marqués d'une * sont obligatoire</p>
                    </form>
                    <div class="cb"></div>
                </div>
                <div class="cross">
                    <a href="#offre">X</a>
                </div>
            </div>
        </div>
        <!------------------------------------->

    <!-- FIN DU CONTAINER -->

    <div id="outdated"> <h6>Votre navigateur est désuet!</h6>
        <p>Mettez à jour votre navigateur pour afficher correctement ce site Web. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/fr">Mettre à jour maintenant </a></p>
        <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Fermer">&times;</a></p>
    </div>
    {% include "::footer.html.twig" %}
{% endblock %}
