{% extends "FOSUserBundle::layout_admin.html.twig" %}
{% block title_admin %}Gérer la catégorie : Employeur {% endblock %}

{% block content %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ wo_render_breadcrumbs() }}
    <table>
        <tr>
            <th>Items</th>
            <th>Action</th>
            <th></th>
        </tr>
        {% for item in items %}
            <tr>
                <td class="data-item">{{ item.nameCategory }}</td>
                <td><a href="{{ path('admin_employeur_update', { 'id': item.id}) }}">Modifier</a></td>
                <td><a href="{{ path('admin_sous_item', { 'id': item.id}) }}">Gérer les sous items</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}